/* Nav with current Link  */
.navbar_accordion_item:has(.w--current) .navbar_accordion_header {
  color: var(--_brand---text--brand);
  /* text-decoration: underline;
  text-underline-offset: 0.5625rem;
  text-decoration-color: var(--_brand---text--brand-high);
  text-decoration-thickness: 0.125rem; */
}

.navbar_accordion_header.is-active-accordion .navbar_accordion_arrow-wrapper {
  transform: rotate(180deg);
}
