/* Nav with current Link  */
.navbar_accordion_component:has(.w--current) .navbar_accordion_header {
  color: var(--_brand---text--brand);
  /* text-decoration: underline;
  text-underline-offset: 0.5625rem;
  text-decoration-color: var(--_brand---text--brand-high);
  text-decoration-thickness: 0.125rem; */
}

.navbar_accordion_component:hover .navbar_accordion_arrow-wrapper {
  transform: rotate(180deg);
}

.navbar_menu-button.w-nav-button.w--open ~ .main-wrapper {
  opacity: 0;
}
